<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Спорт-площадки{% endblock %}</title>
    {% load static %}
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header class="header">
        <div class="container header-container">
            <div class="logo">
                <a href="{% url 'home' %}" class="logo-link">
                    <img src="{% static 'img/logo.png' %}" alt="Sport Places Logo" class="logo-img">
                    <span class="logo-text">Sport-Places</span>
                </a>
            </div>
            <nav class="main-nav">
                <ul class="nav-list">
                    <li class="dropdown-menu">
                        <a href="#">Категории</a>
                        <ul class="dropdown-content">
                            {% for category in categories %}
                                <li><a href="{% url 'category_detail' category.slug %}">{{ category.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li>
                        <a href="#">Регион: <span class="current-region">Минск</span></a>
                        </li>
                    <li class="add-place-nav"><a href="{% url 'add_place' %}">Добавить место</a></li>
                    {% if user.is_authenticated %}
                        <li class="user-info-li">
                            <span class="user-info-small">{{ user.username }}</span>
                            <form method="post" action="{% url 'logout' %}">
                                {% csrf_token %}
                                <button type="submit" class="logout-button nav-link">Выйти</button>
                            </form>
                        </li>
                    {% else %}
                        <li><a href="{% url 'login' %}">Войти</a></li>
                        <li><a href="{% url 'register' %}">Регистрация</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>
    
    <footer>
        <div class="footer-container">
            <p>© 2025</p>
            <nav class="footer-nav">
                <ul class="nav-list">
                    <li><a href="{% url 'about' %}">О сайте</a></li>
                    <li><a href="{% url 'contacts' %}">Контакты</a></li>
                </ul>
            </nav>
            <a href="https://www.linkedin.com/in/andrei-kavaliou/" class="last-string-text-link last-string-right">Andrei-KV</a>
        </div>
    </footer>
    {# --- Для изменения header --- #}
    <script>
        window.onscroll = function() {
          const header = document.querySelector(".header");
          if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 50) {
            header.classList.add("smaller");
          } else {
            header.classList.remove("smaller");
          }
        };
    </script>
</body>
</html>