{% extends '../base/base.html' %}
{% load static %}

{% block title %}Редактировать {{ pending_submission.original_place.name }}{% endblock %}

{% block content %}
<h2>Редактировать площадку</h2>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div>
        <label for="id_name">Название площадки:</label>
        <input type="text" name="name" id="id_name" value="{{ pending_submission.name }}">
    </div>
    <div>
        <label for="id_description">Описание:</label>
        <textarea name="description" id="id_description">{{ pending_submission.description }}</textarea>
    </div>
    <div>
        <label for="id_latitude">Широта:</label>
        <input type="text" name="latitude" id="id_latitude" value="{{ pending_submission.latitude }}">
    </div>
    <div>
        <label for="id_longitude">Долгота:</label>
        <input type="text" name="longitude" id="id_longitude" value="{{ pending_submission.longitude }}">
    </div>
    <div>
        <label for="id_photos">Добавить фото:</label>
        <input type="file" name="photos" id="id_photos" multiple>
    </div>
    <button type="submit">Отправить на модерацию</button>
</form>
{% endblock %}