<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Каталог спортплощадок</title>
</head>
<body>
    <header>
        {% if user.is_authenticated %}
            <p>Привет, {{ user.username }}!</p>
            <p><a href="{% url 'add_place' %}">Добавить площадку</a></p>
            <p>
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Выйти</button>
                </form>
            </p>
        {% else %}
            <p><a href="{% url 'register' %}">Зарегистрироваться</a> | <a href="{% url 'login' %}">Войти</a></p>
        {% endif %}
        <hr>
    </header>
    <h1>{{ title }}</h1>

    <h2>Доступные площадки:</h2>
    
    {% for place in places %}
        <div>
            <h3>{{ place.name }}</h3>
            <p>{{ place.description }}</p>
            {% if user.is_authenticated %}
                <a href="{% url 'edit_place' place.id %}">Изменить</a>
            {% endif %}
        </div>
        <hr>
    {% endfor %}

    {% if not places %}
        <p>К сожалению, площадок пока нет.</p>
    {% endif %}

</body>
</html>